[submodule "backend"]
	path = backend
	url = git@github.com:gwarren3210/webtoon2anki3-backend.git
[submodule "frontend3"]
	path = frontend3
	url = https://github.com/gwarren3210/webtoon-flashcard-learn-71.git
